*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.nav {
    width: 100%;
    display: flex;
    background-color: #33186B;
    align-items: center;
    height: 50px;
    position: fixed; 
}

.nav h2{
    color: #F2AFEF;
    padding: 8px 20px;
    background-image: url(pictures/bubbles-gif-22.gif);
    background-size: 200px;
}
.nav a{
    color : #F2AFEF;
    border-radius: 20px;
    margin: 10px;
    padding: 10px 5px;
    
}
.nav a:hover{
    color: blueviolet;
    
}
.profile{
    position: absolute;
    right: 10px;
}
.home{
    background-color:#f2e8fc;
    color: #33186B;
    display: flex;
    align-items: center; /*vertical*/
    justify-content: center; /*horizontal*/
    padding-top: 50px;
    
}
.home_pic{
    height: 300px;
}
.b_txt{
    font-size: 200px;
    position: absolute;
    left: 10px;
}
.bubble_txt{
    font-size: 75px;
    position: absolute;
    left : 150px;
    top: 185px;
    
    
}
.buy_txt{
    font-size: 75px;
    position: absolute;
    left : 150px;
    top : 110px;
    
}
.p_home{
    font-size: 20px;
    position: absolute;
    right: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cosmetic_txt{
    font-size: 35px;
    font-style: oblique;
    position: absolute;
    left : 300px;
    top: 250px;
}

.S{
    background-color:#b699f2;
}
.straight{
    margin-top: 5px;
    height: 300px;
    margin-left :100px;
    border-style:inherit;
    border-radius: 30%;
}
.straight_h{
    font-size: 60px;
    position: absolute;
    left :500px;
    top: 410px;
    color: #802080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.straight_t{
    font-size: 30px;
    position: absolute;
    left :500px;
    top: 485px;
    color:#802080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.s_shampoo{
    margin-top: 5px;
    height: 300px;
    position: absolute;
    right: 100px;
}

.W{
    background-color:#fad7f8;
}
.w_shampoo{
    margin-top: 5px;
    height: 300px;
    margin-left :100px;
}
.wavy_h{
    font-size: 60px;
    position: absolute;
    left :400px;
    top: 730px;
    color: #61055c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.wavy_t{
    font-size: 30px;
    position: absolute;
    left :400px;
    top: 800px;
    color: #61055c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.wavy{
    margin-top: 5px;
    height: 300px;
    position: absolute;
    right: 100px;
    border-style:inherit;
    border-radius: 30%;
}

.C{
    background-color:#c2bdf0;
}
.curly{
    margin-top: 5px;
    height: 300px;
    margin-left :100px;
    border-style:inherit;
    border-radius: 30%;
}
.curly_h{
    font-size: 60px;
    position: absolute;
    left :500px;
    top: 1050px;
    color: #a30f6a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.curly_t{
    font-size: 30px;
    position: absolute;
    left :500px;
    top: 1120px;
    color: #a30f6a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.c_shampoo{
    margin-top: 5px;
    height: 300px;
    position: absolute;
    right: 100px;
}

.product
{
    background-color:#f8eeff
}
.all_s{
    height: 180px;
}

.all_w{
    height: 180px;
}

.all_c{
    height: 180px;
}

.primer{
    margin-left: 55px;
    margin-right:20px;
}
.mask{
    margin-right: 20px;
    margin-left: 20px;
}
.serum{
    margin-right: 20px;
    margin-left: 20px;
}
.all_s{
    margin-right: 20px;
    margin-left: 20px;
}

.all_w{
    margin-right: 20px;
    margin-left: 20px;
}
.all_c{
    margin-right: 40px;
    margin-left: 20px;
}
